@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center{
    flex-wrap: wrap;
    max-width: 1100px;
    margin:0 auto;
    padding: 0 2%;
    display: flex
}
header{
    background-color:#43054e;
    padding:20px 0;
    border-bottom:2px solid rgb(200, 200, 200);
}
.logo{    /* aqui alteramos as cores dos nomes da classe logo*/
    color: white;
}
.logo h1{  /*  aqui muda a cor do nome núcleo de pessoa jurídica */
    color: #e71984;
}
.menu{             
    width:100%;
    text-align: right;
}
.menu a{    /*aqui alteramos a característica do menu */

   color:white;
   font-size: 15px;
   text-decoration: none;
   margin-right: 50px;
   transition:0.8s;  
}
.menu a:hover{
    color:rgb(101, 21, 117)  /* quando passar o mouse no menu muda de cor  */
}
.menu .btn-menu{  /*  características do botão */
    background-color:#e71984;
    display: inline-block;
    padding:8px 15px;
    color:white;
    border-radius: 6px;
    cursor: pointer;
}

.menu .btn-menu:hover{       /*  aqui muda a transição do botão de IDENTIFICAÇÃO */
    background-color:blue;
    color:white;
}

/* SECTION MAIN  */

section.main{
    
    background-color: white;
    text-align: center;
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main_cta{
    flex-wrap: wrap;
    width: 100%;
    margin:20px 0;
    text-align: center;
}
.main_cta h2{
    color:#e71984;
}
.main_cta p{
    color:black;
    font-size: 19px;
    margin: 10px 0;
    text-align: center;
}
/*
.main_cta button{
    background-color: green;
    display: inline-block;
    padding: 8px 30px;
    color: white
    ;
    border-radius: 6 px;
    font-size: 16px;
    border:0;
    cursor: pointer;
}   */







/* SECTION LOGIN  */

  /*  */

.form{     
    width: 350px;        /* altera o tamanho do formulário do login */
    margin: auto;        /* usar na tela de agendamento */
    padding-top: 50px;
    
}

.card{
    box-shadow: 1px 1px 5px white;
    background-color: white;
    padding: 75px;        /* altera o tamanho da imagem ceub */
    border-radius: 20px; color:blueviolet;
    text-align: center;   /* aqui alinhamos a imagem no centro*/   
}
.card-top{
    text-align: left;
}    
.card-group{
    margin-bottom: 10px;        
}
.card-group > label{
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.card-group > input{
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
    
}
.card-group > button{
    background-image: linear-gradient(to left, #e71984,#43054e);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color:white;
    border: 0px;
    outline: 0;
    
}

.btn button:hover{
    background-image: linear-gradient(to rigth,#e71984, #43054e);
    cursor: pointer;
    background-color:rgb(169, 11, 201);
    color: white;


}

.imglogin{
    border-radius: 50px;
    width: 100px;
    box-shadow: 0px 0px 5px #e71984;
}

.title{
    color:royalblue
}

/* SECTION PRIMEIRO CADASTRO*/

.nome{
    width: 350px;        /* altera o tamanho do formulário do nome */
    margin: auto;        /* usar na tela de agendamento */
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.nome > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.nome > input{
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;

}
.selecionecpf{
    width: 350px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.selecionecpf > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.selecionecpf > input {
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.selecionearea {
    width: 350px;
    margin: auto;
    padding-top: 10px;
    text-align: left;
}
.rg { 
    width: 350px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.rg > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.rg > input {
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.residencia {
    width:350px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.residencia > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.residencia > input {
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}  
.emailprimeiroacesso {
    width:350px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.emailprimeiroacesso > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.emailprimeiroacesso >  input {
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.senhanova{
    width: 350px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.senhanova > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display: block;
}
.senhanova > input {
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.termoaceite {
    width: 500px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.termoaceite > label {
    width: 100px;
    color:rgb(75, 75, 75);
    display:ruby-base;
}
.btn-cadastro > button {
    background-image: linear-gradient(to left, #e71984,#43054e);
    width: 30%;
    border-radius: 30px;
    padding: 15px;
    color:white;
    border: 0px;
    outline: 0;
}
.btn-cadastro > button:hover {
    background-image: linear-gradient(to rigth,#e71984, #43054e);
    cursor: pointer;
    background-color:rgb(169, 11, 201);
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){  /* aqui eu sei que torna responsivo k, não sei pq*/
    .main{
        width:100%;
    }
}